{% extends "base.html" %}
<!-- Welcome to E-W-M Preview-lab team -->
<!DOCTYPE html>
<html lang="en">

<head>
    {% block styles %}
    {{super()}}
    {% endblock %}
    <title>{% block title %} {{title}} | {{counrty_location}} {% endblock %}</title>
</head>


<body data-aos="fade-up">
    {% block content %}
    <!-- navbar -->
    <head>
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand mx-auto" href="/">
              <img src="{{url_for('.static' , filename='ewm-images/virus.svg')}}" width="30" height="30" class="d-inline-block align-top" alt="">
               E-W-M (COVID-19)
            </a>
        </nav>

       
    </head>
    
    <section id="home">
        <div class="container" align="center">
            
            <!-- coronavirus cases in the world-->
            <div class="row">
                
                <div class="col-md">
                    <h5 class="wordwide">Infected Countries: {{infected_country_number}}</h5>
                </div>
                <hr>
                <div class="col-md">
                    <h5 class="wordwide-confirmed">Total confirmed: {{world_confirmed_cases}}</h5> 
                </div>
                <hr>
                <div class="col-md">
                    <h5 class="wordwide-active">Total Active: {{world_confirmed_active}}</h5>
                </div>
                <hr>
                <div class="col-md">
                    <h5 class="wordwide-recoverd">Total Recovered: {{world_confirmed_recovers}}</h5>
                </div>
                <hr>
                
                <div class="col-md">
                    <h5 class="wordwide-deaths">Total Deaths: {{world_confirmed_deaths}}</h5>
                </div>


            </div>

            <hr>

            <!-- The world map -->
            <world-map class="map">
                <world-map-location top="{{cordinate[0]}}%" left="{{cordinate[1]}}%" label="{{country_info.country_label_name}}" data-toggle="modal" data-target="#country_map" >
                </world-map-location>   
                <!--
                <world-map-location top="%" left="%" label="" data-toggle="modal" data-target="#country_map" >
                </world-map-location> 
                -->
            </world-map>

            <h5>(Click on your county to see more... | انقر على مقاطعتك لرؤية المزيد)</h5>

            <hr>

            <div class="container">
                <div class="row">

                    <div class="col-3" >
                        <img src="{{url_for('.static' , filename='ewm-images/confirmed.svg')}}" width="50px">
                        <hr>
                        <h6 class="hospitalized">Confirmed</h6>
                        <h6 class="hospitalized">تم تأكيد</h6>
                        <h4 class="hospitalized">{{country_confirmed_cases}}</h4>
                    </div>

                    <div class="col-3" >
                        <img src="{{url_for('.static' , filename='ewm-images/active.svg')}}" width="50px">
                        <hr>
                        <h6 class="active">Active</h6>
                        <h6 class="active">نشطة</h6>
                        <h4 class="active">{{country_confirmed_active}}</h4>
                    </div>

                    <div class="col-3">
                        <img src="{{url_for('.static' , filename='ewm-images/recovered.svg')}}" width="50px">
                        <hr>
                        <h6 class="recovred">Recovered</h5>
                        <h6 class="recovred"> الشفاء</h6>
                        <h4 class="recovred">{{country_confirmed_recovers}}</h4>
                    </div>

                    <div class="col-3" >
                        <img src="{{url_for('.static' , filename='ewm-images/deaths.svg')}}" width="50px">
                        <hr>
                        <h6 class="deceased">Deceased</h5>   
                        <h6 class="deceased"> الوفاة</h6>
                        <h4 class="deceased">{{country_confirmed_deaths}}</h4>
                    </div>

                </div>
            </div>
            
        </div>


        
                
    </section>

        <!-- Modal where countries  mapping -->
        <!-- Modal -->
        <div class="modal fade" id="country_map" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"> {{counrty_location}} (COVID-19)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body" align="center">

                    
                    
                    
                    <div class="row">

                        <div class="col-3" >
                            
                        </div>

                        <div class="col-3" >
                            
                        </div>

                        <div class="col-3" >
                            
                        </div>

                    </div>
                    
                    <img src="{{url_for('.static' , filename='ewm-images/country-img/')}}{{country_name}}.svg" width="60%">
                    <hr>
                    <h5>For more information :</h5>
                    <h6><a href="https://www.who.int/">World Health Organization | منظمة الصحة العالمية</a></h6>
                    <h6><a href="https://www.who.int/">Ministry of Health | وزارة الصحة</a></h6>
                    <h6><a href="https://experience.arcgis.com/experience/685d0ace521648f8a5beeeee1b9125cd">Worldwide Coverage Map (WHO)</a></h6>
                    <h6><a href="https://fr.wikipedia.org/wiki/Coronavirus">Coronavirus wiki</a></h6>
                    <h5><a href="tel:{{country_info.country_green_number}}">Call</a> ({{country_info.country_green_number}} <img src="{{url_for('.static' , filename='ewm-images/call.svg')}}" width="25px">)</h5>
                    <hr>
                    <h6>Updated on {{country_date_of_update}}</h6>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>
        <!-- Modal ends -->


    <footer id="foooter">
        <p align="center">© 2020 Preview-Lab.</p>
    </footer>

    {% endblock %}
    <!-- content block ends -->



    {% block scripts %}
    
    {{super()}}

    {% endblock %}
</body>

</html>