{% extends "base.html" %}
<!-- Welcome to E-W-M Preview-lab team -->
<!DOCTYPE html>
<html lang="en">

<head>
    {% block styles %}
    {{super()}}
    {% endblock %}
    <title>{% block title %} {{title}} {% endblock %}</title>
</head>


<body data-aos="fade-up">
    {% block content %}
    <head>
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand mx-auto" href="#home">
              <img src="{{url_for('.static' , filename='ewm-images/virus.svg')}}" width="30" height="30" class="d-inline-block align-top" alt="">
               Epidemics World Map | خريطة العالم للأوبئة
            </a>
          </nav>
    </head>
    
    <section id="home">
        <div class="container">
            <div class="row">
                <!-- coronavirus definition-->
                <div class="col-lg-3" data-aos="fade-right">
                    <h1> COVID-19 <img src="{{url_for('.static' , filename='ewm-images/external-content.duckduckgo.com.png')}}" width="100px"></h1>
                    <p>The virus is thought to spread mainly from person-to-person who are in close contact with one another (within about 6 feet) and through respiratory droplets produced when an infected person coughs or sneezes.
                        These droplets can land in the mouths or noses of people who are nearby or possibly be inhaled into the lungs.</p>
                    <p>يُعتقد أن الفيروس ينتشر بشكل رئيسي من شخص لآخر ممن هم على اتصال وثيق مع بعضهم البعض (في حدود 6 أقدام) ومن خلال قطرات الجهاز التنفسي التي تنتج عندما يسعل الشخص المصاب أو يعطس.

                        يمكن أن تهبط هذه القطيرات في أفواه أو أنوف الأشخاص القريبين أو الذين يمكن استنشاقهم في الرئتين.</p>
                </div>
                <!-- World map-->
                <div class="col-lg-8" data-aos="fade-left">
                    <world-map class="map">
                        <!--<world-map-location top="28%" left="47%" label="England" ></world-map-location>
                        <world-map-location top="33%" left="48.5%" label="France"></world-map-location> -->
                        <world-map-location top="40%" left="48%" label="Algeria" data-toggle="modal" data-target="#dzmap"></world-map-location>
                    </world-map>
                </div>

            </div>
            <div class="row">
                <!-- coronavirus cases in the world-->
                <div class="col-lg" data-aos="zoom-in">
                    <h5 class="wordwide">World wide cases:</h5>
                    <h3 class="wordwide">Total confirmed: 558,502</h3>
                    <h3 class="wordwide">Total Deaths: 25,251</h3>
                    <h3 class="wordwide"> Total Recovered: 127,615</h3>
                </div>

                <!-- coronavirus symptoms-->
                <div class="col-lg-2" align="center" data-aos="zoom-in">
                    <h5 class="information">Symptoms:</h5>
                    <ul class="information">
                        <li>Fever.</li>
                        <li>Cough.</li>
                        <li>Shortness of breath.</li>
                    </ul>
                    <h5 class="information-arabe">: الأعراض</h5>
                    <ul class="information-arabe">
                        <li>.حمى •</li>
                        <li>.سعال •</li>
                        <li>.ضيق في التنفس •</li>
                    </ul>
                    <img src="{{url_for('.static' , filename='ewm-images/contagious-illness.svg')}}" width="20%" >
                    <img src="{{url_for('.static' , filename='ewm-images/contagious-illness(1).svg')}}" width="20%" >
                    <img src="{{url_for('.static' , filename='ewm-images/infected-lungs.svg')}}" width="20%">
                </div>

                <!-- coronavirus steps to protect your self-->
                <div class="col-lg" data-aos="zoom-in">
                    <h5 class="payattention">Take steps to protect yourself:</h5>
                    <ul class="payattention">
                        <li>Wash your hands.</li>
                        <li>Use a hand sanitizer that contains at least 60% alcohol.</li>
                        <li>Avoid touching your eyes, nose, and mouth with unwashed hands.</li>
                        <li>Avoid close contact.</li>
                        <li>Stay home if you are sick.</li>
                        <li>Put distance between yourself and other people if COVID-19 is spreading in your community.</li>
                        <li>Cover your mouth and nose with a tissue when you cough or sneeze or use the inside of your elbow.</li>
                    </ul>
                    <h5 class="payattention-arabe">: اتخذ خطوات لحماية نفسك</h5>
                    <ul class="payattention-arabe">
                        <li>.اغسل يديك</li>
                        <li>.استخدم معقم لليدين يحتوي على 60٪ كحول على الأقل •</li>
                        <li>.تجنب لمس عينيك وأنفك وفمك بأيدٍ غير مغسولة •</li>
                        <li>.تجنب الاتصال الوثيق •</li>
                        <li>.ابقى قي المنزل إذا كنت مريضا •</li>
                        <li>. ينتشر في مجتمعك COVID-19 ضع مسافة بينك وبين الأشخاص الآخرين إذا كان •</li>
                        <li>.قم بتغطية فمك وأنفك بمنديل عند السعال أو العطس أو استخدام الكوع من الداخل •</li>
                    </ul>
                </div>

            </div>            
        </div>

  
    </section>

        <!-- Modal  algeria map-->
        <!-- Modal -->
        <div class="modal fade" id="dzmap" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Algeria (COVID-19)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-4">
                            <img src="{{url_for('.static' , filename='ewm-images/recovered.svg')}}" width="40%">
                            <h5 class="recovred">Recovered</h5>
                            <h6 class="recovred">حالات الشفاء</h6>
                            <h4 class="recovred">29</h4>
                        </div>

                        <div class="col-4" >
                            <img src="{{url_for('.static' , filename='ewm-images/patient.svg')}}" width="40%">
                            <h5 class="hospitalized">Hospitalized</h5>
                            <h6 class="hospitalized">في المستشفى</h6>
                            <h4 class="hospitalized">313</h4>
                        </div>

                        <div class="col-4" >
                            <img src="{{url_for('.static' , filename='ewm-images/close.svg')}}" width="40%">
                            <h5 class="deceased">Deceased</h5>
                            <h6 class="deceased">حالات الوفاة</h6>
                            <h4 class="deceased">25</h4>
                        </div>

                    </div>
                    <h6>Confirmed cases: 367</h6>
                    <h6>Date of reporting : 27/03/2020</h6>
                    <img src="{{url_for('.static' , filename='ewm-images/dz.svg')}}" width="80%">
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>
        <!-- Modal ends -->

        

    


    <footer id="foooter">
        <p align="center">© 2020 Preview-Lab.</p>
    </footer>

    {% endblock %}
    <!-- content block ends -->



    {% block scripts %}
    
    {{super()}}

    {% endblock %}
</body>

</html>